@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat/static/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/Montserrat/static/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(../fonts/Roboto/Roboto-Light.ttf);
}