@mixin img-style {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@mixin main-fonts-style ($family, $weight, $size) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
}

@mixin secondary-fonts-style ($family, $weight, $size) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
}